Temp/
Library/
obj/
*.sln
*.csproj

#RiderC#
.idea/
*.*.iml
Assets/Plugins/Editor/JetBrains/

*~
*.userprefs
*.unityproj

Packages/*
!Packages/manifest.json

Assets/Scenes/Tests/

/Assets/FMODStudioCache.asset
/Assets/FMODStudioCache.asset.meta
fmod.log
fmod_editor.log
